In [18]:
from datetime import datetime

import pandas as pd
import json

In [19]:
with open('dataset_fb.json') as file:
    dataset = json.load(file)

with open('kasthuri.json') as file:
    kasthuri = json.load(file)

dataset = [*dataset, *kasthuri]

with open('dataset.json', 'w') as file:
    json.dump(dataset, file)

In [20]:
with open('dataset.json', 'r') as file:
    dataset = json.load(file)

df_data = {
    "User": [],
    "Timestamp": [],
    "Text": []
}

for post in dataset:
    user = post['user']
    df_data["User"].append(user['name'])
    df_data["Timestamp"].append(post['timestamp'])
    df_data["Text"].append(post['text'])

df = pd.DataFrame(df_data)
df['Timestamp'] = df["Timestamp"].apply(datetime.fromtimestamp)

In [21]:
df.groupby('User').describe()

                    Timestamp                                 \
                        count                           mean
User
Azalina Othman Said       417  2020-08-09 02:08:09.275779328
Hannah Yeoh              1437  2020-08-05 15:44:55.389700608
Kasthuri Patto           1965  2020-07-31 15:27:23.118066176

                                                               \
                                     min                  25%
User
Azalina Othman Said  2019-10-07 19:30:52  2020-04-25 06:21:37
Hannah Yeoh          2019-12-01 20:19:07  2020-04-18 17:44:33
Kasthuri Patto       2019-12-01 11:31:48  2020-04-07 13:36:06

                                                               \
                                     50%                  75%
User
Azalina Othman Said  2020-08-11 14:15:44  2020-12-02 12:56:14
Hannah Yeoh          2020-08-15 22:35:12  2020-11-19 09:11:12
Kasthuri Patto       2020-07-22 17:47:07  2020-11-29 17:13:07


                                     max
User
Azalina Othman Said  2021-03-02 13:58:00
Hannah Yeoh          2021-03-02 11:55:40
Kasthuri Patto       2021-03-03 07:41:33

In [22]:
from collections import Counter
import malaya

preprocesing = malaya.preprocessing.preprocessing()
tokenizer = malaya.tokenizer.Tokenizer()
fasttext = malaya.language_detection.fasttext()

counter = Counter()

def normalize_text(text):
    tokens = preprocesing.process(text)
    return " ".join(tokens)

df = df[df.Text != ""]
df['Language'] = fasttext.predict(df['Text'].values.tolist())

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [23]:
df.groupby('Language').describe()

         Timestamp                                                      \
             count                           mean                  min
Language
eng           1601  2020-07-23 18:03:39.500312320  2019-12-01 11:31:48
ind             32  2020-08-18 17:54:09.156250112  2019-12-03 21:14:53
malay         1173  2020-08-01 18:48:58.703324672  2019-10-10 16:56:44
manglish        49  2020-08-04 16:59:35.489796096  2019-12-10 14:15:34
other           86  2020-09-07 09:16:35.651162880  2019-10-08 11:37:06
rojak          223  2020-08-17 00:23:13.771300352  2019-10-15 10:57:59

                                                                     \
                                    25%                         50%
Language
eng                 2020-03-31 15:27:13         2020-07-22 17:43:38
ind                 2020-06-11 10:39:05  2020-09-05 12:10:32.500000
malay               2020-04-09 19:52:27         2020-08-04 12:27:11
manglish            2020-03-19 21:13:02         2020-08-20 12:03:34
other     2020-04-29 16:44:56.249999872         2020-10-10 00:57:31
rojak               2020-04-26 04:46:57         2020-08-27 12:53:57


                                    75%                  max
Language
eng                 2020-11-15 15:07:53  2021-03-03 07:41:33
ind       2020-11-06 13:53:24.249999872  2021-03-01 22:22:28
malay               2020-11-24 15:52:13  2021-03-02 13:58:00
manglish            2021-01-15 03:19:36  2021-03-02 08:41:59
other     2021-01-16 16:45:11.750000128  2021-02-23 10:23:26
rojak        2021-01-01 04:13:19.500000  2021-02-28 20:46:55

In [24]:
df[df.Language == 'other'].head(100)

,User,Timestamp,Text,Language
47,Azalina Othman Said,2021-02-21 14:24:43,https://www.astroawani.com/berita-malaysia/kas...,other
52,Azalina Othman Said,2021-02-20 19:57:07,https://youtu.be/NFh9_XTOSq8,other
79,Azalina Othman Said,2021-02-17 20:24:39,https://www.freemalaysiatoday.com/category/bah...,other
83,Azalina Othman Said,2021-02-17 20:20:18,https://fb.watch/3IMU6aJnAN/,other
141,Kasthuri Patto,2021-02-23 10:23:26,#TakMalu\n#SetahunPengkhianatan \n#LestWeForget,other
...,...,...,...,...
3649,Kasthuri Patto,2020-02-09 12:09:11,https://m.malaysiakini.com/news/510144?utm_sou...,other
3662,Kasthuri Patto,2020-02-07 09:59:57,பினாங்கு மாநில முதல்வரின் தைப்பூசத் திருவிழா\n...,other
3695,Kasthuri Patto,2020-01-23 15:10:26,https://www.malaysiakini.com/news/508148?comme...,other
3710,Kasthuri Patto,2020-01-15 21:40:16,😭,other
3779,Kasthuri Patto,2019-12-15 16:40:50,😭 💞,other

In [25]:
corpus = df.Text.values.tolist()

vectorizer = malaya.transformer.load(model="electra")
lda2vec = malaya.topic_model.transformer.attention(
    corpus, n_topics=10, vectorizer=vectorizer
)

lda2vec.get_topics(10)

INFO:tensorflow:Restoring parameters from /Users/yuyue/Malaya/electra-model/base/electra-base/model.ckpt

INFO:tensorflow:Restoring parameters from /Users/yuyue/Malaya/electra-model/base/electra-base/model.ckpt